@model SoftwarePr.Models.Products

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdminPage.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Products</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductPicture)
        </dt>

        <dd><img class="product__img img-fluid" sty" width="200" height="200" src="~/@Html.DisplayFor(model => model.ProductPicture)" alt=""></dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
